@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inputDiv{
  margin-left: 10px;
}
input, textarea{
  font-family: 'DM Sans', sans-serif;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px 10px 10px 0;
  border-radius: 10px;
}
textarea{
  height: 100px;
  width: 300px;
}
.app > h1{
  font-family: 'DM Sans', sans-serif;
  margin-left: 10px;
  font-weight: 500;
}
.app > h3{
  font-family: 'DM Sans', sans-serif;
  margin-left: 10px;
  font-weight: 400;
}
.app > h3 > span{
  font-size: 1rem;
}
.inputDiv >form > button{
  font-family: 'DM Sans', sans-serif;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
